<!-- 
 <app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-body></app-body>
<app-footer></app-footer>



<app-auth></app-auth>

<app-painter></app-painter>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-body></app-body>
<app-footer></app-footer>
<app-building></app-building>
<router-outlet></router-outlet>
----------->
<!--
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
-->
<!-- app.component.html 
<router-outlet></router-outlet>
-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>